.deleteModal{
    border-color: #ff0000;
    color: #ff0000;
}

.deleteModal:hover{
    background: #ff0000;
    color: #ffffff;
}

.btndelete:active{
    background: #ff0000;
    color: #ffffff;
}

.btndelete:visited {
    background: #ff0000;
    color: #ffffff;
}

.btndelete{
    background: #ff0000;
    color: #ffffff;
}

.modal-hide{
    display: none;
}